.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: bisque;
}

.form {
  width: 50%;
  height: 100%;
}

.content {
  width: 50%;
  height: 100%;
}

.show__button {
  width: 100px;
  height: 50px;
}

.add__button {
  width: 100px;
  height: 50px;
}

.delete__button {
  width: 100px;
  height: 50px;
}
